@using System.Web.Optimization

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Book Mall template for web technologies class">
    <meta name="author" content="Plesu Catalin">

    @Styles.Render("~/bundles/bootstrap/css")
    @Styles.Render("~/bundles/css")

    @Scripts.Render("~/bundles/bootstrap/js")
    @Scripts.Render("~/bundles/popper")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/js")

    <title>
        Book Mall
    </title>

</head>
<body>

    @Html.Partial("_Navbar")

    <div class="container">
